<!DOCTYPE html>
<html>
  <head>

    {% block head %}
      <title>Isaac Matos</title>
    {% endblock %}

    <link rel="stylesheet" href="/style.css">

  </head>
  <body>

      <header>
        
        <div class="links">
          <a href="/">Sobre</a>
          <a href="/portfolio">Projetos</a>
        </div>

      </header>

      {% block content %}

      {% endblock %}

  </body>
</html>